@import "../styles/main.scss";

.resetPassContainerDiv {
  padding: 20px;
}

.resetPasswordForm {
  padding: 10px;
}

.background-gray {
  background-color:  var(--background-color);
}

.loadingDiv {
  justify-content: center;
}

@keyframes spinnerAnimation {
  to {transform: rotate(360deg);}
}

.spinner {
  animation: spinnerAnimation 1.3s linear infinite;
}